<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean id="employeeDao2" class="com.cxt.supermarket.dao.impl.UserDaoImpl">
        <property name="sqlSession" ref="sqlSession"></property>
    </bean>
    <!-- 自动生成DAO接口的实现类 -->
    <!--<bean id="employeeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="mapperInterface" value="cn.sunwu.ssmdemo.dao.EmployeeDao"></property>-->
        <!--<property name="sqlSessionTemplate" ref="sqlSession"></property>-->
    <!--</bean>-->

    <!-- 批量生成DAO接口的实现类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.cxt.supermarket.dao"></property>
        <!-- 如果配置了多个SQLSessionFactoryBean，需要指定 -->
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"></property>
    </bean>
</beans>