<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cxt.supermarket.dao.UserDao">
    <resultMap id="userResultMap" type="User">
        <id property="id" column="id"></id>
        <result property="userCode" column="userCode"></result>
        <result property="userName" column="userName"></result>
        <result property="userPassword" column="userPassword"></result>
        <result property="gender" column="gender"></result>
        <result property="birthday" column="birthday"></result>
        <result property="phone" column="phone"></result>
        <result property="address" column="address"></result>
        <result property="userType" column="userType"></result>
        <result property="createdBy" column="createdBy"></result>
        <result property="creationDate" column="creationDate"></result>
        <result property="modifyBy" column="modifyBy"></result>
        <result property="modifyDate" column="modifyDate"></result>
    </resultMap>
    <resultMap id="user1ResultMap" type="com.cxt.supermarket.util.User1">
        <result property="userCode" column="userCode"></result>
        <result property="userName" column="userName"></result>
        <result property="userPassword" column="userPassword"></result>
        <result property="gender" column="gender"></result>
        <result property="birthday" column="birthday"></result>
        <result property="phone" column="phone"></result>
        <result property="address" column="address"></result>
        <result property="userType" column="userType"></result>
        <result property="creationDate" column="creationDate"></result>
    </resultMap>
    <select id="selectByName" parameterType="String" resultMap="userResultMap">
    select * from smbms_user where userName like #{userName}
</select>
    <select id="selectByCode" parameterType="String" resultMap="userResultMap">
        select * from smbms_user where userCode like #{userCode}
    </select>
    <select id="selectUserList" parameterType="user" resultMap="userResultMap">
        select * from smbms_user
        <where>
            <if test="userName!=null">
                and userName like #{userName}
            </if>
            <!--            <if test="firstResult!=null and firstResult>=0 and maxResult!=null and maxResult>0">-->
            <!--                limit #{firstResult},#{maxResult}-->
            <!--            </if>-->
        </where>
    </select>
    <insert id="insert" parameterType="com.cxt.supermarket.util.User1">
    insert into smbms_user(userCode,userName,userPassword,gender,birthday,phone,address,userType,creationDate) values
    (#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userType},#{creationDate})
</insert>
    <update id="update" parameterType="com.cxt.supermarket.util.User1">
        update smbms_user
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null">
                userName=#{userName},
            </if>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="birthday!=null">
                birthday=#{birthday},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="address!=null">
                address=#{address},
            </if>
            <if test="userType!=null">
                userType=#{userType},
            </if>
        </trim>
        where userCode=#{userCode}
    </update>
<delete id="delete" parameterType="String">
    delete from smbms_user where userCode=#{userCode}
</delete>

</mapper>
